;@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --BLOCK_WIDTH:16vw;
  --DATA_LABEL_BACKGROUND_COLOR: rgb(0, 123, 255);
  --DATA_VALUE_TEXT_COLOR: white;
  --DATA_VALUE_BACKGROUND_COLOR: #ecf0f1;
  --LABEL_BLOCK_HEIGHT: 12vh;
  --DATA_BLOCK_HEIGHT: 11vh;

  --LABEL_FONT_SIZE: 3vh;
  --DATA_FONT_SIZE: 3.2vh;

}

html{
  width:100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height: 100%;

}
#root{
  width:100%;
  height: 100%;
}

.appContainer{
  width:100%;
  height: 100%;
}

.videoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;


}

.maintenanceMessageContainer{
  display: flex;
  flex-direction: row;
  align-items:  center;
  height: 100%;
  width: 100%
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.statsRow{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.statsBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  border-style:solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #cbd5e0;
  display: flex;
  flex-direction: row;
  width: 420px;
  justify-content: space-evenly
}


.attributeToGraphSelection {
  flex-direction:row;
  display:flex;
  padding:10;
  width: 100vw;
  align-items:center;
  justify-content: center;
  margin-top: 2vh;
}

.dashboardBlock {
  width: var(--BLOCK_WIDTH);
  min-width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}



.labelBlock{
  background-color: var(--DATA_LABEL_BACKGROUND_COLOR);
  font-size: var(--LABEL_FONT_SIZE);
  height: var(--LABEL_BLOCK_HEIGHT);
  color: var(--DATA_VALUE_TEXT_COLOR);
}

.infoCircle{
  display: none;
  position: absolute;
  top:0;
  right:0;
  transform:scale(0.7);
  cursor: pointer;

}

@keyframes infoCircleHoverAnimation {
  from {fill: white; transform: scale(0.7);}
  to {fill:black;transform: scale(1.1);}
}

.infoCircle:hover{
  animation-name: infoCircleHoverAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.dataBlock{
  background-color: var(--DATA_VALUE_BACKGROUND_COLOR);
  font-size:  var(--DATA_FONT_SIZE);
  height: var(--DATA_BLOCK_HEIGHT);
  color: black;
}

.chartContainer{
  height:70vh;
  width:90vw;
  justify-content: center;
  background-color: white;
}

.toolTipElement{
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  background-color: white;
  /* border: 2px solid; */
  border-radius: 5px;
  border-width: thin;
  margin: 2vw;
}

@media (max-width: 767px) {
  :root{
    --LABEL_BLOCK_HEIGHT: 17vh;
    --DATA_BLOCK_HEIGHT: 10vh;
    --BLOCK_WIDTH:100%;
    --DATA_FONT_SIZE:3.2vh;
    --LABEL_FONT_SIZE:2.1vh;
  }
  .videoContainer{
    flex-direction: column;
    overflow: scroll;
  }

  .maintenanceMessageContainer{
    flex-direction: column;
  }

  .statsRow{
    flex-direction: column;
    width:100%;
  }
  .statsBlock{
    width:100%;
    max-width: none;
    margin:0;
    min-width: none;
    margin-bottom: 10px;
  }

  .attributeToGraphSelection{
    flex-direction: column;
  }
  .btn{
    width:100%;
  }

  .chartContainer{
    width:114vw;
    transform:translateX(13vw);
  }

}
