@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --BLOCK_WIDTH:16vw;
  --DATA_LABEL_BACKGROUND_COLOR: #3498db;
  --DATA_VALUE_TEXT_COLOR: white;
  --DATA_VALUE_BACKGROUND_COLOR: #ecf0f1;
  --LABEL_BLOCK_HEIGHT: 12vh;
  --DATA_BLOCK_HEIGHT: 8vh;

  --LABEL_FONT_SIZE: 3vh;
  --DATA_FONT_SIZE: 4vh;

}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.attributeToGraphSelection {
  flex-direction:row;
  display:flex;
  padding:10;
  width: 100vw;
  align-items:center;
  justify-content: center;
  margin-top: 2vh;
}

.dashboardBlock {
  width: var(--BLOCK_WIDTH);
  min-width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.labelBlock{
  background-color: var(--DATA_LABEL_BACKGROUND_COLOR);
  font-size: var(--LABEL_FONT_SIZE);
  height: var(--LABEL_BLOCK_HEIGHT);
  color: var(--DATA_VALUE_TEXT_COLOR)
}

.dataBlock{
  background-color: var(--DATA_VALUE_BACKGROUND_COLOR);
  font-size:  var(--DATA_FONT_SIZE);
  height: var(--DATA_BLOCK_HEIGHT);
  color: black;
}

@media (max-width: 767px) {
  :root{
    --LABEL_BLOCK_HEIGHT: 17vh;
    --BLOCK_WIDTH:100%;
    --DATA_FONT_SIZE:3.4vh;
    --LABEL_FONT_SIZE:2.5vh;
  }


  .dashboardBlock{
    height: 12vh;
  }
  .attributeToGraphSelection{
    flex-direction: column;
  }
  .btn{
    width:100%;
  }

}
