.vaccineBlock{
  align-items: center;
  border-style: solid;
  border-color: rgb(203, 213, 224);
  border-width: 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vaccineCallToAction{
  padding-top: 1em;
  font-size: 1.2em;
  text-align: center;
}

.vaccineInfoRow{
  align-items: center;
  justify-content: center;
}

.vaccineSource{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vaccineSourceImage{
    height: auto;
    width: 7em;
    padding: 1em;

  }

  .vaccineSourceImage:hover{
    opacity: 20%;
  }


  /* Vaccine Stats */
  .vaccineStatTitle{
    padding: 0.1em;
    color: gray;
    font-size: 1em;
    width: 10em;
    text-align: center;
  }

  .vaccineStatValue{
    font-weight: bold;
    color: rgb(93,232,196);
    font-size: 2em;
    text-align: center;
  }